{
	"plugins": ["prettier-plugin-tailwindcss"],
	"semi": false,
	"singleQuote": true,
	"htmlWhitespaceSensitivity": "css",
	"vueIndentScriptAndStyle": true,
	"jsxSingleQuote": true,
	"tabWidth": 2,
	"useTabs": true
}
