@import 'tailwindcss';
@import './colors.css';
@import './utility.css';

:root {
	background-color: var(--color-background);
	color: var(--color-text);
	font-family: 'Montserrat', Arial, sans-serif;
	box-sizing: border-box;
}

/* GLOBAL SCROLLBAR STYLE */
/* Applies to all scrollable elements */
* {
	-webkit-overflow-scrolling: touch;
	scrollbar-color: rgba(0, 0, 0, 0.4) transparent;
}

::-webkit-scrollbar {
	height: 8px;
	width: 8px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.4);
	border-radius: 50%;
	transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
	background: rgba(0, 0, 0, 0.6);
}
